.meal__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(360deg, #bbd7e4 5%, rgb(30, 49, 66));
}
.meal__name{
font-size: 36px;
}